.iconButton{
    cursor: pointer;
}

.iconButton > .icon-trash{
    border: 4px solid #FBB03C;
    padding: 50%;
    border-style: none none solid solid;
    color: #CDCDCF;
    border-bottom-left-radius: 10px 10px;
    height: 80%;
}

.iconButton > .icon-anglesdown{
    border: 1px solid #FBB03C;
    /* padding: 20%; */
    color: #FDFDFD;
    background-color: #FBB03C;
    border-radius: 10%;
}

.container-buttons-card-tasks {
    position: relative; /* Mantiene referencia para elementos absolutos */
}

.iconButton.ms-3 {
    position: absolute;
    top: 58px; /* Lo eleva sobre la card */
    left: 51%; /* Centra el ícono */
    transform: translateX(-50%); /* Ajusta la posición horizontal */
    z-index: 10; /* Lo pone encima */
}