.iconButton{
    cursor: pointer;
}

.iconButton > .icon-trash{
    border: 4px solid #FBB03C;
    padding: 50%;
    border-style: none none solid solid;
    color: #CDCDCF;
    border-bottom-left-radius: 10px 10px;
    height: 80%;
}

.iconButton > .icon-anglesdown{
    border: 1px solid #FBB03C;
    padding: 20%;
    color: #FDFDFD;
    background-color: #FBB03C;
    border-radius: 10%;
}

.container-buttons-card-tasks{
    overflow: hidden;
}