.container-cardslist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 120px;
}

.card-tasks {
    background-color: #FEFEFE;
    border-radius: 18px;
    width: 90%;
    margin-bottom: 3%;
    box-shadow: 2px 2px 3px rgba(0.6, 0, 0, 0.2);
}

.card-information > h4 {
    font-size: 14px;
    margin-top: 14px;
    font-weight: 900;
}

.card-information > p {
    font-size: 10px;
    margin: 0;
    margin-bottom: 14px;
}

.container-card-tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 5px;
}