.card-tasks{
    background-color: #FEFEFE;
    border-radius: 18px;
    width: 90%;
}

.card-information > h4 {
    font-size: 16px;
}

.card-information > p {
    font-size: 12px;
    margin: 0;
}

.content-circularprogressbar{
    width: 180%; 
    height: 100%; /* Asegura que ocupe el alto del contenedor */
}