.task-header {
    background-color: #FFB035;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Distribuye los elementos de forma uniforme */
}

